#titulo{
   font weight: bold;
   font-family: Verdana;   
   text-shadow:  -1px -1px 0 white,  
   1px -1px 0 white,
   -1px 1px 0 white,
   1px 1px 0 white; 
   color: #2A3132;
  }

body{
    font-family: sans-serif;
    background-image: url("https://images.pexels.com/photos/1103970/pexels-photo-1103970.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
    text-align: center; 
 }

 #background{
     background-color: transparent;
     width: 700px;
     margin: auto;
     margin-top: 30px;
     padding-bottom: 30px;
     padding-left: 100px;
     padding-right: 100px;
 }

 .box{
     border: 4px solid rgba(172, 170, 170, 0.5);
     background-color: rgba(42, 49, 50, 0.171);
     padding-bottom: 15 px;
     border-radius: 5px 5px ; 
     font-weight: bold;
     color: #612531;
 }

 .number{ 
     width: 50px;
 }

 .write{
    height: 20px;
    width: 300px;
    padding: 3px;
 }

 footer{
     padding-top: 5px;
     padding-bottom: 5PX;
     font-size: 12px;
     font-family: 'Courier New';
     background-color: beige;
 }
 
 #menu ul{
    list-style: none;
    margin: 0;
    padding:0;
}

#menu ul li{
    display: inline-block;
}
#menu ul li a{
    text-decoration: none;
    color: rgb(48, 96, 121);
    padding: 35px;
    font-weight: bold;
}

#menu ul li a:hover{
    color:white;
}
*{
    margin: 0;
    padding: 0;
}